[user]
	email = dkramer@student.neumont.edu
	name = David Kramer
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	amend = commit --amend
	br = branch
	co = checkout
	d = difftool
	st = status
[core]
	autocrlf = false
