# .gitconfig
[alias]
	amend = commit --amend
	br = branch
	cm = commit
	co = checkout
	cob = checkout -b
	d = difftool
	lg = log
	notrack = update-index --assume-unchanged
	pl = pull
	pu = push
	pushup = push --set-upstream
	rsth = reset --hard
	st = status
	track = update-index --no-assume-unchanged
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = magenta
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
	pager = less -iXFR
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[fetch]
	prune = true
[push]
	default = simple

# use separate file for git credentials
[include]
	path = ~/.gitconfig.local
